*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior:smooth;

    font-family:"poppins",sans-serif;
}

:root{
    --bg--color:#081b29;
    --second-bg-color:#112e42;
    --text-color:white;
    --main-color:darkblue;





}


html{
    font-size: 62.5;
    overflow-x: hidden;
}


body{
    background: var(--bg--color);
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    margin-right: 2rem;

}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: 2s

}


.navbar a:hover ,
.navbar a.home{
    color:var(--main-color)
}




#menu{
    font-size: 2rem;
    color: var(--text-color);
    cursor:pointer;
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;

}
#home{
    display: flex;
    align-items: center;
    padding: 0 9%;
}
.home-content{
    max-width: 60rem;
  }
  
  .home-content h1{
      font-size: 4rem;
      font-weight: 500;
      line-height: 1;
      padding-top: 100px;
  
  }
  
  
  .home-content .animate-text{
      position: relative;
      width: 200%;
  }
  
  
  .home-content .animate-text h3{
      font-size: 3.2rem;
      font-weight: 700;
      color: transparent;
      -webkit-text-stroke: .7px var(--main-color);
  }
  
  
  .home-content p{
      font-size: 1.3rem;
      margin: 2rem 0 4rem;
  
  }
  
  .btn-box{
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 30rem;
      height: 5rem;
  }
  
  .btn-box .btn{
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 10rem;
        height: 30;
        background: blue;
        border: .2rem solid var(--main-color);
        border-radius: 1rem;
        font-size: 1.8rem;
        font-weight: 100;
        letter-spacing: .1rem;
        color: var(--bg--color);
        color: white;
        z-index: 1;
        overflow: hidden;
  }



    .btn-box .btn::before{
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       width: 0%;
       height: 100%;
       background:purple;
       z-index: -1;
       transition:1s;
       /* test */

    } 


    .btn-box .btn:hover::before{
        width: 100%;
    }


